name: Deploy to cPanel

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install dependencies
        run: npm install

      - name: Build project
        run: npm run build

      - name: Deploy via FTP (overwrite only)
        uses: SamKirkland/FTP-Deploy-Action@v4.3.6
        with:
          server: ${{ secrets.FTP_HOST }}
          username: ${{ secrets.FTP_USER }}
          password: ${{ secrets.FTP_PASSWORD }}

          # local build folder
          local-dir: dist

          # server destination folder
          server-dir: public_html

          # DO NOT delete files on server
          # ensures only overwrite, keep other files
          exclude: |
            **/.git*
            **/node_modules/*
            **/src/*